// $bgColor: #1f1f38;
// $bgVariantColor: #2c2c6c;
// $colorPrimary: #4db5ff;
// $colorPrimaryVariant: rgba(77, 181, 255, 0.4);
// $colorWhite: #fff;
// $colorLight: rgba(255, 255, 255, 0.6);
// $bgColor: #1b2c26;
// $bgVariantColor: #0d2015;
// $colorPrimary: #4dffd8;
// $colorPrimaryVariant: rgba(77, 255, 225, 0.4);
// $colorWhite: #fff;
// $colorLight: rgba(255, 255, 255, 0.6);
$bgColor: #436a6d;
$bgVariantColor: #0d1f20;
$colorPrimary:#e4dfd2;
// $colorPrimaryVariant: rgba(77, 243, 255, 0.4);
$colorPrimaryVariant: rgba(247, 246, 235, 0.589);
$colorWhite: rgb(255, 255, 255);
$colorLight: rgba(244, 253, 253, 0.6);
// $bgColor: #201212;
// $bgVariantColor: #200d0d;
// $colorPrimary: #ff4d4d;
// $colorPrimaryVariant: rgba(255, 77, 77, 0.4);
// $colorWhite: #fff;
// $colorLight: rgba(255, 255, 255, 0.6);
$containerWidthLg: 75%;
$containerWidthMd: 86%;
$containerWidthSm: 90%;
$poppins: 'Poppins', sans-serif;
$transition: all 400ms ease;